* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
  }
  
  /* -------------------------------------------------------------------------- */
  /* HEADER */
  /* -------------------------------------------------------------------------- */
  
  header {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/img/hero-min2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
  }
  
  .hero-text-box {
    position: absolute;
    width: 550px;
    height: 350px;
    top:50%;
    left:30%;
    transform: translate(-50%, -50%);
    background-color: #f3c656;
  }
  
  .hero-text-box h1 {
    margin:20px;
  }

  .hero-text-box label {
    margin:20px;
  }

  .AutoCompleteText {
    width: 90%;
    height: 45px;
    margin-left: 20px;
    border: 1px solid grey;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 4px 1px rgba(0,0,0,.18);
    color: rgba(0,0,0,.73);
  }

  .AutoCompleteText input {
    width: 100%;
    height: 100%;
    font-size: 25px;
    color: rgba(0,0,0,.73);
    box-sizing: border-box;
    outline: none;
  }

  .AutoCompleteText ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid grey;
    background-color: #fff;
  }

  .AutoCompleteText ul::before {
    content: "";
  }

  .AutoCompleteText li {
    padding: 10px 5px;
    cursor: pointer;
  }

  .AutoCompleteText li:hover {
    background-color: rgba(224, 246, 255, 1);
  }

  .row {
    max-width: 1330px;
    margin: 0 auto;
  }

  .row h1 {
    padding-top: 10px;
    color: #fff;
  }

  .spinner {
    margin: 70px auto;
    width: 40px;
    height: 40px;
    position: relative;
    text-align: center;
    
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
  }
  
  .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;
    
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
  }
  
  .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
  }
  
  @-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
  @keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}
  
  @-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }