.listElement {
    display: flex;
}

.placeType {
    width: 100px;
    text-align: center;
}

.placeType div {
    padding: 0 10px;
    margin-right: 5px;
    color: #fff;
    font-weight: bold;
}

.airport {
    background-color: #f2817f;
}

.city {
    background-color: #6eb8fa;
}

.station {
    background-color: #747474;
}

.district {
    background-color: #a06518;
}